# for dev
jupyter==1.0.0
#
# Learning Equality cheffing utils
le_utils>=0.1.3
ricecooker>=0.6.15
# which will bring in pkgs like:
# beautifulsoup4>=4.5.1
# html5lib>=0.999999999
# requests==2.18.4
# selenium==3.0.1
# youtube-dl==2017.11.15
